<footer>
    <div class="container">
        <div class="row">
            <div class="col">
                <h6>KONTAKT</h6>
                <br/>
                <p>
                    Du är alltid välkommen att kontakta oss!
                    <br/>
                    info@prodigo.se
                </p>
            </div>
            <div class="col">
                <h6>VÅR ADRESS</h6>
                <br/>
                <p>
                    Prodigo
                    <br/>
                    Kungsportsavenyn 37
                    <br/>
                    411 36 Göteborg
                    <br/>
                    Org.nr 559329-2435
                </p>
            </div>
            <div class="col">
                <a href="https://prodigo.se">
                    <img id="prodigo-logo-footer" src="https://prodigo.se/wp-content/uploads/2021/04/Prodigo-Logotyp_bla%CC%8A_utan-bakgrund.png" alt="Prodigo Logotyp_blå_utan bakgrund">
                </a>
            </div>
        </div>
    </div>
</footer>
