<footer>
    <div class="container">
        <div class="row">
            <div class="col">
                <h6>KONTAKT</h6>
                <br/>
                <p>
                    Du är alltid välkommen att kontakta oss!
                    <br/>
                    info@prodigo.se
                    <br/>
                    <a href="https://prodigo.se/kontakt/">prodigo.se/kontakt</a>
                </p>
            </div>
            <div class="col">
                <h6>VÅR ADRESS</h6>
                <br/>
                <p>
                    Prodigo
                    <br/>
                    Kungsportsavenyn 37
                    <br/>
                    411 36 Göteborg
                    <br/>
                    Org.nr 559329-2435
                </p>
            </div>
            <div class="col">
                <img id="prodigo-logo-footer" alt="Prodigo logo" src="images/prodigo-logo.png">
            </div>
        </div>
    </div>
</footer>
