@using System.ComponentModel.DataAnnotations
@using System.Net.Http.Headers
@using Application.Users
@using Blazorise.Extensions
@using Domain.Users
@inject HttpClient _http
@inject IJSRuntime _js
@inject NavigationManager _navigationManager

<div class="modal" id="log-in">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <EditForm Model="@_user" OnSubmit="ValidateUser">
                    <div class="mb-3">
                        <div class="d-flex justify-content-between">
                            <label for="username" class="form-label">
                                <h3>Användarnamn</h3>
                            </label>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>

                        <InputText id="username" class="form-control" placeholder="Användarnamn" @bind-Value="@_user.UserName"/>

                        @if (_logInFailed)
                        {
                            <p class="text-danger">Inloggningen misslyckades </p>
                        }
                    </div>
                    <div class="login-footer">
                        <button type="submit" class="btn btn-primary mb-3 ">Logga in</button>
                    </div>
                </EditForm>
            </div>
        </div>
    </div>
</div>

@code {

    UserInputFields _user = new();
    bool _logInFailed = false;

    private class UserInputFields
    {
        [Required]
        public string UserName { get; set; } = string.Empty;
    }
    /// <summary>
    /// Called when the username is changed.
    /// </summary>
    [Parameter]
    public EventCallback<string> OnUserLogInChange { get; set; } = EventCallback<string>.Empty;

    private async Task ValidateUser()
    {
        HttpResponseMessage response = await _http.PostAsJsonAsync("/api/v1/users/authenticate", _user.UserName);
        if (response.IsSuccessStatusCode)
        {
            _logInFailed = false;

            var authResponse = await response.Content.ReadFromJsonAsync<AuthenticateResponse>();
            // Store token on http client so all future requests use the token.
            // TODO: When making the login-state persist then this auth token should be stored in a cookie.
            _http.DefaultRequestHeaders.Authorization = new AuthenticationHeaderValue("bearer", authResponse?.Token);

            await OnUserLogInChange.InvokeAsync(_user.UserName);
            await _js.InvokeVoidAsync("closeModal", "#log-in");
            _navigationManager.NavigateTo("dashboard");
        }
        else
        {
            _logInFailed = true;
        }
    }

}
