@inherits LayoutComponentBase
<CascadingValue Value="@_loggedInUser" Name="LoggedInUser">
    <div class="page">
        <main>
            <div class="sticky-top">
                <NavMenu />
            </div>
            <article class="content px-4">
                @Body
                <LogIn OnUserLogInChange="@OnUserLogIn"/>
            </article>
        </main>
    </div>
</CascadingValue>

@code
{
    private void OnUserLogIn(string username)
    {
        _loggedInUser = username;
        StateHasChanged();
    }

    private string? _loggedInUser = string.Empty;
}
