@using Application.Users
@using Client.Services.Authentication
@inherits LayoutComponentBase
@inject ISessionService _session

<CascadingValue Value="@_session" Name="Session">
    <ThemeProvider Theme="@_theme">
        <div class="page">
            <main>
                <div class="sticky-top">
                    <NavMenu/>
                </div>
                <article class="content px-4">
                    @Body
                    <LoginModal/>
                </article>
            </main>
        </div>
    </ThemeProvider>
</CascadingValue>

@code
{
    private readonly Theme _theme = new()
    {
        ColorOptions = new ThemeColorOptions
        {
            Primary = "#3e4b65",
            Secondary = "#516285",
            Dark = "222939",
            Info = "#ffeeae",
            Link = "#dadee8",
            Danger = "#3D0F16",
        },
        IsRounded = true,
    };

    /// <inheritdoc />
    protected override async Task OnInitializedAsync()
    {
        await _session.TryResumeAsync();
    }
}
