@inherits LayoutComponentBase
<CascadingValue Value="@LoggedInUser" Name="@nameof(LoggedInUser)">
        <div class="page">
            <main>
                <div class="sticky-top">
                    <NavMenu @ref="_navMenu"/>
                </div>
                <article class="content px-4">
                    @Body
                    <LogIn OnUserLogInChange="@OnUserLogIn"></LogIn>
                </article>
            </main>
        </div>
</CascadingValue>
@code
{
    NavMenu _navMenu = null!;

    private void OnUserLogIn(string username)
    {
        Console.WriteLine(username);
        LoggedInUser = username;
        _navMenu.UpdateLoggedInUser(username);
        InvokeAsync(StateHasChanged);
    }


    private string? LoggedInUser { get; set; } = string.Empty;
}
