@inherits LayoutComponentBase
<CascadingValue Value="@_loggedInUser" Name="LoggedInUser">
    <CascadingValue Value="@OnUserLoginEventHandler" Name="OnUserLoginChange">
        <ThemeProvider Theme="@_theme">
            <div class="page">
                <main>
                    <div class="sticky-top">
                        <NavMenu/>
                    </div>
                    <article class="content px-4">
                        @Body
                        <LoginModal/>
                    </article>
                </main>
            </div>
        </ThemeProvider>
    </CascadingValue>
</CascadingValue>

@code
{
    private EventCallback<string> OnUserLoginEventHandler => new(this, OnUserLogIn);

    private void OnUserLogIn(string username)
    {
        _loggedInUser = username;
        StateHasChanged();
    }

    private string? _loggedInUser = string.Empty;

    private readonly Theme _theme = new()
    {
        ColorOptions = new ThemeColorOptions
        {
            Primary = "#3e4b65",
            Secondary = "#516285",
            Dark = "222939",
            Info = "#ffeeae",
            Link = "#dadee8",
            Danger = "#3D0F16",
        },
        IsRounded = true,
    };
}
