.navbar-toggler {
    background-color: rgba(255, 255, 255, 0.1);
}

.navbar-brand {
    font-family: 'Merriweather', sans-serif;
    font-size: 1.875rem;
    margin-left: 1.25rem;
    margin-right: 1.875rem;
}

.navbar {
    padding: 0.15625rem 0;
}
