@using Blazorise.Extensions
@using Domain.Users

<nav class="navbar navbar-expand-lg navbar-dark " style="background-color: #222939 ">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">Prodigo Portal</a>
        <button class="navbar-toggler" type="button"  data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0 justify-content-center">
                <li class="nav-item">
                    <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                        <span class="" aria-hidden="true"></span> Dashboard
                    </NavLink>
                </li>
                <li class="nav-item">
                    <NavLink class="nav-link" href="contracts">
                        <span class="" aria-hidden="true"></span> Contracts
                    </NavLink>
                </li>
                <li class="nav-item">
                    <NavLink class="nav-link" href="admin">
                        <span class="" aria-hidden="true"></span> Admin page
                    </NavLink>
                </li>
                <li class="nav-item">
                    <NavLink class="nav-link" href="AboutUs">
                        <span class="" aria-hidden="true"></span> About Us
                    </NavLink>
                </li>
            </ul>
            <div class="nav-item">
                @if (LoggedInUser.IsNullOrEmpty())
                {
                    <button class="btn btn-primary mb-3" data-bs-toggle="modal" data-bs-target="#log-in">
                        Logga in
                    </button>
                }
                else
                {
                    <NavLink class="nav-link">
                        Inloggad som: @LoggedInUser
                    </NavLink>
                }
            </div>
        </div>
    </div>
</nav>

@code {

    [CascadingParameter]
    private string? LoggedInUser { get; set; }

    private bool _collapseNavMenu = true;

    private string? NavMenuCssClass => _collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        _collapseNavMenu = !_collapseNavMenu;
    }

    /// <summary>
    /// Updates the username for the current user.
    /// </summary>
    /// <param name="username">The updated username.</param>
    public void UpdateLoggedInUser(string username)
    {
        LoggedInUser = username;
        StateHasChanged();
    }

}
