Tamás Nagy <tamas_nagy@hotmail.com> <73949081+XwayTomy@users.noreply.github.com>
Tamás Nagy <tamas_nagy@hotmail.com> <Tamas_nagy@hotmail.com>

pkasinski <kasinski@student.chalmers.se> <83813240+pkasinski@users.noreply.github.com>

Ella Sibbmark <73948350+ellsib@users.noreply.github.com>

Mathias Prétot <mathias.pretot@gmail.com> mathi

Jonathan Lindqvist <jonathan.x.lindqvist@gmail.com> <47867973+jonathan-lindqvist@users.noreply.github.com>