.prodigo-card {
    margin-top: 1em;
    width: 25rem;
    height: 18rem;
    background-color: #222939;
}

.prodigo-card-img {
    height: 65%;
    object-fit: cover;
}

.prodigo-card-title {
    width: 80%;
    color: white;
}

.pointer {
    cursor: pointer;
}
