@page "/contracts"
@using Domain.Contracts
@inject HttpClient _http

<SearchBar OnQueryChange="OnQueryChanged"/>

<RecentlyViewed @ref="_recentlyViewed"/>

<FetchData @ref="_dataFetcher"
           TData="IEnumerable<Contract>"
           Url="api/v1/contracts"
           Context="contracts">

    <div class="container-fluid">
        <div class="d-flex flex-wrap justify-content-between">
            @foreach (Contract contract in contracts)
            {
                <ContractCard Contract=@contract OnViewed="OnRecentContractAdded"/>
            }
        </div>
    </div>

</FetchData>

@code {
    private RecentlyViewed _recentlyViewed = null!;

    private FetchData<IEnumerable<Contract>> _dataFetcher = null!;

    private void OnRecentContractAdded(Contract viewedContract)
    {
        _recentlyViewed.AddViewedContract(viewedContract);
    }

    private async Task OnQueryChanged(string query)
    {
        string urlSafeQuery = Uri.EscapeDataString(query);
        var fetchUrl = $"api/v1/contracts?query={urlSafeQuery}";
        await _dataFetcher.Fetch(fetchUrl);
    }

}
