button.btn-close {
    border-radius: 0 1rem 0 0.4rem;
}

img#contract-thumbnail {
    height: 20rem;
    object-fit: cover;
    border-radius: 1rem 1rem 0 0;
}

.modal-body {
    padding: 0;
}

.modal-content {
    border-radius: 1rem;
    border: none;
}

h2 {
    font-size: 1.4rem;
}
