@page "/dashboard"
@inherits AuthenticationRequiredView
@inject ISessionService _session

<div class="dashboard-background container-fluid p-5 m-0">
    <h2 class="text-center pb-3 title">@WelcomeMessage</h2>
    <div class="d-flex justify-content-center flex-wrap">
        <div class="dashboard-item-box d-flex justify-content-center">
            <StatusUpdates/>
        </div>
        <div class="dashboard-item-box px-2">
            <FavoriteCards/>
        </div>
    </div>
</div>

@code
{
    private string WelcomeMessage => "Hej, " + _session.Username + "!";
}
