@page "/dashboard"
@inherits AuthenticationRequiredView

<div class="container-fluid">
    <div class="dashboard-item-box" style="padding: 10px">
        <h2 class="text-center">Välkommen till Prodigo Portal!</h2>
    </div>
    <div class="dashboard-item-box d-flex justify-content-center top-margin ">
        <StatusUpdates/>
    </div>
    <div class="dashboard-item-box">
        <FavoriteCards/>
    </div>
</div>
