@page "/dashboard"
@inherits AuthenticationRequiredView

<PageTitle>Prodigo Portal - Startsida</PageTitle>

<h2>Välkommen till Prodigo Portal!</h2>

<div class="d-flex justify-content-center w-100">
    <StatusUpdates />
</div>

<FavoriteCards />
