.dashboard-item-box {
    background-color: var(--prodigo-light-blue);
    border-radius: 1.25rem;
    padding: 1.25rem;
    margin: 0.625rem;
}

.dashboard-background {
    background-image: url("./images/chairs.jpg");
    min-width: 100%;
    min-height: 100vh;
    background-size: cover;
}

.stairs.dashboard-background {
    background-image: url("./images/stairs.jpg");
    background-position: center;
}

.title {
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    color: var(--prodigo-white);
}

/*The different lists such as warning or news notifications should have their own container*/
.status-update-container {
    display: flex;
    flex-direction: column;
    height: fit-content; /*The list won't be longer than necessary*/
    width: fit-content;
    max-height: 70vh;
}

@media screen and (max-width: 1711px) {
    .status-update-container {
        max-height: 20rem; /*This value determines the height of the list*/
    }
}
