/*The different lists such as waring or news notifications should have their own container*/
.status-update-container {
    display: flex;
    flex-direction: column;
    height: fit-content; /*The list won't be longer than necessary*/
    max-height: 10em; /*This value determines the height of the list*/
    width: fit-content;
}
