@page "/dashboard"
@inherits AuthenticationRequiredView

<div class="container-fluid " style="padding: 50px; margin: 0;">
    <div style="padding: 10px;">
        <h2 class="text-center">Välkommen till Prodigo Portal!</h2>
    </div>
    <div class="d-flex justify-content-center">
        <div class="dashboard-item-box">
            <FavoriteCards/>
        </div>
        <div class="dashboard-item-box d-flex justify-content-center">
            <StatusUpdates/>
        </div>
    </div>

</div>
