@page "/dashboard"
@inherits AuthenticationRequiredView

<PageTitle>Prodigo Portal - Startsida</PageTitle>

<div class="container">
    <h2>Välkommen till Prodigo Portal!</h2>

    <div class="d-flex flex-wrap justify-content-center ">
        <div class="status-update-container">
                <StatusUpdates />
        </div>
    </div>

    <FavoriteCards />
</div>
