@page "/dashboard"
@inherits AuthenticationRequiredView

<h2>Välkommen till Prodigo Portal!</h2>
<div class="flex-row">
    <div class="d-flex flex-row justify-content-center w-100">
        <StatusUpdates/>
    </div>

    <div class="d-flex flex-row justify-content-center w-100">
        <StatusUpdates/>
    </div>
</div>

<FavoriteCards/>
