@page "/dashboard"
@inherits AuthenticationRequiredView

<div class="dashboard-background">
    <div class="container-fluid" style="padding: 50px; margin: 0;">
        <h2 class="text-center pb-3 title">Välkommen till Prodigo Portal!</h2>
        <div class="d-flex justify-content-center flex-wrap">
            <div class="dashboard-item-box d-flex justify-content-center">
                <StatusUpdates/>
            </div>
            <div class="dashboard-item-box">
                <FavoriteCards/>
            </div>
        </div>
    </div>
</div>
