@using Domain.Contracts
@using Newtonsoft.Json
@inject HttpClient _http

<div id="favorite-contracts" style="padding-top: 30px;">
    <h3>Favoriter</h3>
    <FetchData @ref="_dataFetcher"
               TData="List<Contract>"
               Url="/api/v1/Contracts/favorites"
               Context="contracts">
        @{
            var contractsList = contracts.ToList();
        }
        @if (contractsList.Any())
        {
            <div id="favorite-cards-container" class="d-flex flex-row justify-content-around flex-wrap">
                @foreach (var contract in contractsList)
                {
                    <ContractCard Contract=@contract OnFavoriteChange="OnFavoriteChange"/>
                }
            </div>
        }
        else
        {
            <p>
                <em>Du har inga favorit markerade kontrakt.</em>
            </p>
        }
    </FetchData>
</div>

@code {
    private FetchData<List<Contract>> _dataFetcher = null!;

    private async Task OnFavoriteChange(Contract contract)
    {
        if (contract.IsFavorite) return;
        _dataFetcher.Data?.RemoveAll(other => other.Id == contract.Id);
        await InvokeAsync(StateHasChanged);
    }

}
