@using Domain.StatusUpdates
@inject HttpClient _http;

<FetchData TData="StatusUpdate[]"
           Url="api/v1/status-updates"
           Context="statusUpdates">
    <div>
        <h3 class="text-center fw-bold"> Nyheter</h3>
        <div class="list-group list-group-flush shadow w-100">
            @foreach (StatusUpdate statusUpdate in statusUpdates.OrderByDescending(status => status.Timestamp))
            {
                <StatusUpdateItem Status="@statusUpdate"/>
            }
        </div>
    </div>
</FetchData>
