@using Domain.StatusUpdates
@inject HttpClient _http;

@if (_statusUpdates is null)
{
    <p>Laddar...</p>
}
else
{
    <div class="d-flex justify-content-center w-100">
        <div class="list-group list-group-flush shadow w-50">
            @foreach (StatusUpdate statusUpdate in _statusUpdates)
            {
                <StatusUpdateItem Status="@statusUpdate"/>
            }
        </div>
    </div>
}

@code {

    private IEnumerable<StatusUpdate>? _statusUpdates;

    /// <inheritdoc />
    protected override async Task OnInitializedAsync()
    {
        _statusUpdates = await _http.GetFromJsonAsync<StatusUpdate[]>("api/v1/status-updates");
        _statusUpdates = _statusUpdates?.OrderByDescending(status => status.Timestamp);
    }

}
