@using Blazorise.Extensions
@using System.Net.Http.Headers
@inject IJSRuntime Js
@inject ISessionService Session
@inherits UpdateOnAuthenticateView

@if (Session.IsAuthenticated)
{
    <div class="d-flex flex-row align-items-center">
        <p id="logged-in" class="text-center m-0">
            <i>Inloggad som <b>@Session.Username</b></i>
        </p>
        <button id="logout-button"
                style="@ConfiguredStyle"
                class="btn btn-primary"
                @onclick="@(async () => await Session.EndAsync())">
            Logga ut
        </button>
    </div>
}
else
{
    <button id="login-button"
            class="btn btn-primary"
            data-bs-toggle="modal"
            data-bs-target="#log-in"
            style="@ConfiguredStyle"
            @onclick="FocusUsernameField">
        Logga in
    </button>
}
@code {

    /// <summary>
    /// The width of the button.
    /// </summary>
    [Parameter]
    public string Width { get; set; } = "6rem";

    /// <summary>
    /// The height of the button.
    /// </summary>
    [Parameter]
    public string Height { get; set; } = "2.5rem";

    /// <summary>
    /// The font size of the text inside the button.
    /// </summary>
    [Parameter]
    public string FontSize { get; set; } = "1rem";

    private string ConfiguredStyle => $"width: {Width}; height: {Height}; font-size: {FontSize};";

    private async Task FocusUsernameField()
    {
        // Focuses the username text input element.
        await Js.InvokeVoidAsync("focusElement", "#username");
    }
}
