@page "/admin"
@using Domain.Contracts
@using Domain.Users

<h2>Adminsida</h2>

<ContractForm OnContractUploaded="OnNewContractAdded"/>
<hr/>
<ContractTable @ref="@_contractTable"/>
<hr/>
<UserForm OnUserAdded="AddUserToList"/>
<hr/>
<UserTable @ref="@_userTable"/>

@code {

    private ContractTable _contractTable = null!;
    private UserTable _userTable = null!;

    private void OnNewContractAdded(Contract contract)
    {
        _contractTable.Add(contract);
    }

    private void AddUserToList(User user)
    {
        _userTable.Add(user);
    }
}
