@page "/admin"
@using Domain.Contracts

<h2>Adminsida</h2>

<ContractForm OnContractUploaded="OnNewContractAdded"/>
<hr/>
<ContractList @ref="@_contractList"/>
<hr/>
<UserForm></UserForm>

@code {

    private ContractList _contractList = null!;

    private void OnNewContractAdded(Contract contract)
    {
        _contractList.Add(contract);
    }
}
