@using Domain.Contracts
@using Newtonsoft.Json
@using System.Net.Http.Headers
@using System.Text.Json
@inject ILogger<AdminPage> _logger
@inject HttpClient _http

<h4>Create a contract</h4>

<EditForm Model="@_contract" OnSubmit="Upload">
    <div class="mb-3">
        <label for="title" class="form-label">Titel</label>
        <InputText id="title" class="form-control" placeholder="Skriv titel här..." @bind-Value="@_contract.Name"/>
    </div>
    <div class="mb-3">
        <label for="description" class="form-label" >Beskrivning</label>
        <InputTextArea id="description" class="form-control" placeholder="Skriv beskrivning här..." @bind-Value="@_contract.Description"/>
    </div>
    <div class="mb-3">
        <label for="image" class="form-label">Bild</label>
        <InputFile id="image" class="form-control" OnChange="OnFileChosen"/>
    </div>

    <button type="submit" class="btn btn-primary">Spara</button>
</EditForm>

@code {

    private bool _shouldRender;

    private readonly Contract _contract = new() { Name = string.Empty, Description = string.Empty, ImagePath = string.Empty, };
    private MultipartFormDataContent? _content;

    /// <inheritdoc />
    protected override bool ShouldRender()
    {
        return _shouldRender;
    }

    private void OnFileChosen(InputFileChangeEventArgs arg)
    {
        _shouldRender = false;
        const long maxFileSize = 1024 * 1024 * 100;

        _content = new MultipartFormDataContent();
        StreamContent fileContent;

        try
        {
            fileContent = new StreamContent(arg.File.OpenReadStream(maxFileSize));
        }
        catch (IOException ex)
        {
            _logger.LogInformation(
                "{FileName} not uploaded: {Message}",
                arg.File.Name, ex.Message);
            return;
        }

        fileContent.Headers.ContentType =
            new MediaTypeHeaderValue(arg.File.ContentType);

        _content.Add(
            fileContent,
            "\"image\"",
            arg.File.Name);

        _shouldRender = true;
    }

    private async Task Upload()
    {
        Console.WriteLine("trying to submit");
        if (_content is null) return; // TODO: show error

        Console.WriteLine(JsonConvert.SerializeObject(_contract, Formatting.Indented));

        HttpResponseMessage response = await _http.PostAsync("/api/v1/images", _content);

        if (response.IsSuccessStatusCode)
        {
            string fileIdentifier = await response.Content.ReadAsStringAsync();
            Console.WriteLine($"successfully uploaded {fileIdentifier}");
            _contract.ImagePath = fileIdentifier;

            await UploadContract();
            return;
        }

        _content.Dispose();

        // TODO: show error
    }

    private async Task UploadContract()
    {
        HttpResponseMessage response = await _http.PostAsJsonAsync("/api/v1/contracts/new/contract", _contract);
        if (response.IsSuccessStatusCode)
        {
            // TODO: show upload confirmation
            Console.WriteLine("successfully uploaded!");
            return;
        }

        // TODO: show error
    }

}
