@using Domain.Users

<FetchData @ref="_dataFetcher"
           TData="List<User>"
           Url="/api/v1/users"
           Context="users">

    <div class="list-group">
        @foreach (User user in users)
        {
            <UserListItem User=@user/>
        }
    </div>

</FetchData>

@code {

    private FetchData<List<User>> _dataFetcher = null!;

    /// <summary>
    /// Adds a user to the list.
    /// </summary>
    /// <param name="user">The user to add.</param>
    public void Add(User user)
    {
        _dataFetcher.Data?.Add(user);
        InvokeAsync(StateHasChanged);
    }
}
