@using Domain.Users
@using Microsoft.VisualBasic
@using Newtonsoft.Json
@using System.Text
@inject HttpClient _http
@inject IJSRuntime _js

<h4 id="user-form-title">Skapa ny användare</h4>

<EditForm Model="@_user" OnSubmit="ConvertAndUploadUser">

    <div class="mb-3">
        <label for="user-name" class="form-label">Användarnamn</label>
        <InputText id="user-name" class="form-control" placeholder="Användarens namn" @bind-Value="@_user.Name"/>
    </div>
    <div class="mb-3">
        <label for="user-password" class="form-label">Lösenord</label>
        <InputText id="user-password" class="form-control" placeholder="Användarens lösenord" @bind-Value="@_user.Password"/>
    </div>
    <div class="mb-3">
        <label for="user-company" class="form-label">Företag</label>
        <InputText id="user-company" class="form-control" placeholder="Företagets namn" @bind-Value="@_user.Company"/>
    </div>
    <div class="mb-3">
        <label for="user-latest-payment-date" class="form-label">Senaste betaldatum</label>
        <InputDate id="user-latest-payment-date" class="form-control" @bind-Value="_user.LatestPaymentDate"/>
    </div>

    <button type="submit" class="btn btn-primary mb-3">Spara</button>
</EditForm>

@code {

    /// <summary>
    /// Called when a user has been added successfully.
    /// </summary>
    [Parameter]
    public EventCallback<User> OnUserAdded { get; set; } = EventCallback<User>.Empty;

    private User _user = CreateUnspecifiedUser();

    /// <summary>
    /// Populates the form with the values of the given <see cref="User"/>.
    /// </summary>
    /// <param name="user">The data to edit.</param>
    public async Task EditUserAsync(User user)
    {
        await _js.InvokeVoidAsync("scrollToElement", "#user-form-title");
        _user = user;
        _user.Password = string.Empty;
    }

    private static User CreateUnspecifiedUser()
    {
        return new User
        {
            Name = string.Empty,
            Password = string.Empty,
            Company = string.Empty,
            LatestPaymentDate = DateTime.UtcNow,
        };
    }

    private async Task ConvertAndUploadUser()
    {
    // Make sure date is in UTC.
        _user.LatestPaymentDate = _user.LatestPaymentDate.ToUniversalTime();

        await UploadUser();
    }

    private async Task UploadUser()
    {
        string json = JsonConvert.SerializeObject(_user);
        var content = new StringContent(json, Encoding.UTF8, "application/json");
        HttpResponseMessage response = await _http.PutAsync($"/api/v1/users/{_user.Id}", content);
        if (response.IsSuccessStatusCode)
        {
            await OnUserAdded.InvokeAsync(_user);
            _user = CreateUnspecifiedUser();
        }
    }

}
