@page "/AboutUs"

<PageTitle>Prodigo Portal - Om oss</PageTitle>

<div class="container">
    <img class="aboutUsImage" src="/images/pexels-fauxels-3184418.jpg">
    <div class="text-block">
        <h1>Om oss </h1>

        <h4 class="paragraph">
            Vi har arbetat med inköp i över 10 år och har gedigen kunskap av kategori- och
            leverantörsstyrning. Vi har en stor passion för inköp och förstklassig service,
            så att du som kund kan spara tid och sänka era kostnader. Genom oss får ni tillgång
            till unika avtal och effektiva processer.
            <br/><br/> Vi arbetar självklart med arbetssätt som
            bidrar till att ni kan nå era hållbarhetsmål med effektiva verktyg för både miljö och
            CSR. Det viktigaste för oss är att vi kan hjälpa till i våra kunders liv, där det verkligen
            behövs. Vi vill därför erbjuda dig som kund förstklassig service och prioriterar
            varje kundrelation så att du kan känna dig trygg i våra händer.
        </h4>
        </div>
</div>
