.about-us-container {
    background-image: url(images/pexels-fauxels-3184418.jpg);
    padding: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    min-width: 100%;
    min-height: calc(100vh - 3.5rem);
    background-size: cover;
    align-items: center;
}

.about-us-container h1 {
    color: var(--prodigo-yellow);
    text-shadow: 0 0 1rem black;
    text-align: center;
    margin-top: 10vh;
}

.about-us-container h4 {
    margin-top: 3rem;
    margin-bottom: 3rem;
    color: var(--prodigo-white);
    background-color: rgba(62, 75, 101, 0.75);
    padding: 2.5rem;
    border-radius: 2rem;
    text-align: center;
    max-width: 70%;
}

.container {
    padding: 0 !important;
    margin: 0 !important;
}



