.text-block  {
    position: absolute;
    text-align: center;
    top: 6rem;
    left: 20vw;
    right: 8vw;
    justify-content: center;
    max-width: 60%;
}

.text-block h1 {
    color: #fbebac;
    text-shadow: 0 0 20px black;
}



.text-block h4 {
    margin-top: 3rem;
    color: #ffffff;
    background-color: rgba(62, 75, 101,0.75);
    padding: 2.5rem;
    border-radius: 2rem;
}

.aboutUsImage {

    height: 100vw;
    width: 100vw;
    object-fit: cover;
}

.container {
    padding: 0 !important;
    margin: 0 !important;
}



