@page "/AboutUs"
<h3>About Us</h3>
<p> Vi har arbetat med inköp i över 10 år och har gedigen kunskap av kategori- och
    leverantörsstyrning. Vi har en stor passion för inköp och förstklassig service,
    så att du som kund kan spara tid och sänka era kostnader. Genom oss får ni tillgång
    till unika avtal och effektiva processer. Vi arbetar självklart med arbetssätt som
    bidrar till att ni kan nå era hållbarhetsmål med effektiva verktyg för både miljö och
    CSR. Det viktigaste för oss är att vi kan hjälpa till i våra kunders liv, där det verkligen
    behövs. Vi vill därför erbjuda dig som kund förstklassig service och prioriterar
    varje kundrelation så att du kan känna dig trygg i våra händer.</p>
<img src="https://prodigo.se/wp-content/uploads/2021/04/iStock-643285752-960x720.jpg" height="400" width=auto>
@code {

}
