@inject IJSRuntime _js

<button class="card" style="max-width: 30%;" data-bs-toggle="modal" data-bs-target="#contract-details">
    <img id="contract-thumbnail"src="@ImagePath" class="img-thumbnail img-fluid"/>
    <h3 id="contract-name">@Name</h3>
</button>

<div class="modal" id="contract-details" @ref="_modal">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
          TETS
        </div>
      </div>
</div>

@code {
    /// <summary>
    /// Name of the company.
    /// </summary>
    [Parameter, EditorRequired,]
    public string? Name { get; set; }

    /// <summary>
    /// Image path to the company logo.
    /// </summary>
    [Parameter, EditorRequired,]
    public string? ImagePath { get; set; }

    private ElementReference _modal;
}
