@using Domain.Contracts
@inject HttpClient _http

<div class="card" style="max-width: 30%;" @onclick="AddToRecentlyViewed">
    <img id="contract-thumbnail" src="@Contract?.SupplierLogoImagePath" class="img-thumbnail img-fluid"/>
    <h3 id="contract-name">@Contract?.Name</h3>
</div>

@code {
    /// <summary>
    /// The contract object.
    /// </summary>
    [Parameter, EditorRequired,]
    public Contract? Contract { get; set; }

    /// <summary>
    /// Called when a contract has been clicked successfully.
    /// </summary>
    [Parameter]
    public EventCallback<Contract> OnViewed { get; set; } = EventCallback<Contract>.Empty;

    private async Task AddToRecentlyViewed()
    {
        HttpResponseMessage response = await _http.PostAsJsonAsync("/api/v1/Contracts/AddRecent", Contract);
        if (response.IsSuccessStatusCode)
        {
            await OnViewed.InvokeAsync(Contract);
        }
    }
}
