@page "/"
@using Domain.Contracts
@inject HttpClient _http
@if (_contracts == null)
{
    <p><em>Loading...</em></p>
}
else
{
    @foreach (var contract in _contracts)
    {
        <ContractCard Contract=@contract />
    }

}


@code {
    private Contract[]? _contracts;

    /// <inheritdoc />
    protected override async Task OnInitializedAsync()
    {
        _contracts = await _http.GetFromJsonAsync<Contract[]>("/api/v1/Contracts/All");
    }

}
