@using Domain.Contracts
@inject HttpClient _http

<div class="card" style="max-width: 30%;" @onclick="AddToRecentlyViewed">
    <img id="contract-thumbnail" src="@ImagePath" class="img-thumbnail img-fluid"/>
    <h3 id="contract-name">@Name</h3>
</div>

@code {
    /// <summary>
    /// Name of the company.
    /// </summary>
    [Parameter, EditorRequired,]
    public string? Name { get; set; }

    /// <summary>
    /// Image path to the company logo.
    /// </summary>
    [Parameter, EditorRequired,]
    public string? ImagePath { get; set; }

    /// <summary>
    /// The contract object.
    /// </summary>
    [Parameter, EditorRequired,]
    public Contract? Contract { get; set; }

    private async Task AddToRecentlyViewed()
    {
        HttpResponseMessage response = await _http.PostAsJsonAsync("/api/v1/Contracts/AddRecent", Contract);
        Console.Write(response);
    }
}
