@page "/example"

<h3>An example of a separate page.</h3>

@code {

    /// <inheritdoc />
    protected override void OnInitialized()
    {
        Console.WriteLine("Example page initialized!");
    }

}
