@using Domain.Contracts
@inject HttpClient _http

<div id="favorite-contracts">
    <h3>Favorite Contracts</h3>
    @if (_contracts == null)
    {
        <p>
            <em>Loading...</em>
        </p>
    }
    else
    {
        <div id="favorite-cards-container" class=".d-flex">
            @if (_contracts.Length > 0)
            {
                @foreach (var contract in _contracts)
                {
                    <ContractCard Contract=@contract />
                }
            }
            else
            {
                <p>
                    <em>There are no favorite marked contracts</em>
                </p>
            }

        </div>
    }
</div>

@code {
    private Contract[]? _contracts;

    /// <inheritdoc />
    protected override async Task OnInitializedAsync()
    {
        _contracts = await _http.GetFromJsonAsync<Contract[]>("/api/v1/Contracts/Favorites");
    }

}
