@using Domain.Contracts
@inject HttpClient _http

<div id="favorite-contracts">
    <h3>Favorite Contracts</h3>
    @if (_contracts == null)
    {
        <p>
            <em>Loading...</em>
        </p>
    }
    else
    {
        <div id="favorite-cards-container" class=".d-flex">
            @foreach (var contract in _contracts)
            {
                <ContractCard Name=@contract.Name ImagePath=@contract.ImagePath/>
            }
        </div>
    }
</div>

@code {
    private Contract[]? _contracts;

    /// <inheritdoc />
    protected override async Task OnInitializedAsync()
    {
        _contracts = await _http.GetFromJsonAsync<Contract[]>("/api/v1/Contracts/Favorites");
    }

}
