@using Domain.Contracts
@inject HttpClient _http
@if (_recent != null)
{
    @if (_recent.Length > 0)
    {
        <h3>Senast besökta</h3>

        <div class="d-flex flex-row justify-content-around flex-wrap">
            @foreach (Contract contract in _recent)
            {
                <ContractCard Contract=@contract/>
            }
        </div>
        <hr/>
    }
}


@code {

    private Contract[]? _recent;

    /// <inheritdoc />
    protected override async Task OnInitializedAsync()
    {
        _recent = await _http.GetFromJsonAsync<Contract[]>("/api/v1/Contracts/Recent");
    }

    /// <summary>
    /// Tells the component to render itself again.
    /// </summary>
    public async void ReRender()
    {
        _recent = await _http.GetFromJsonAsync<Contract[]>("/api/v1/Contracts/Recent");
        await InvokeAsync(StateHasChanged);
    }

}
