@using Domain.Contracts
@if (Recent != null)
{
    @if (Recent.Length > 0)
    {
        <h3>Senast besökta</h3>


        @foreach (Contract contract in Recent)
        {
            <ContractCard Name=@contract.Name ImagePath=@contract.ImagePath Contract=@contract/>
        }
        <hr/>
    }
}


@code {

    /// <summary>
    /// All recently viewed contracts.
    /// </summary>
    [Parameter, EditorRequired,]
    public Contract[]? Recent { get; set; }

}
