@using Domain.Contracts
@using Application.Contracts
@inject HttpClient _http
@if (_recent != null)
{
    @if (_recent.Size() > 0)
    {
        <h3>Senast besökta</h3>

        <div class="d-flex flex-row justify-content-around flex-wrap">
            @foreach (Contract contract in _recent.FetchRecentContracts().Reverse())
            {
                <ContractCard Contract=@contract/>
            }
        </div>
        <hr/>
    }
}


@code {

    private IRecentContractService? _recent;

    /// <inheritdoc />
    protected override async Task OnInitializedAsync()
    {
        Contract[]? recentArray = await _http.GetFromJsonAsync<Contract[]>("/api/v1/Contracts/Recent");
        if (recentArray != null)
        {
            foreach (Contract contract in recentArray)
            {
                _recent?.AddRecent(contract);
            }
        }

    }

    /// <summary>
    /// Tells the component to render itself again.
    /// </summary>
    public async void AddViewedContract(Contract newRecent)
    {
        _recent?.AddRecent(newRecent);
        await InvokeAsync(StateHasChanged);
    }

}
