@page "/"

<head>
</head>

<body>
<div class="container">
    <img src="https://prodigo.se/wp-content/uploads/2021/04/iStock-643285752-960x720.jpg">
    <div class="text-block">
        <h2>Välkommen till Prodigo portal! </h2>
    </div>
</div>
</body>

@code {

}
