.text-block {
    position: absolute;
    text-align: center;
    top: 50%;
    width: 50%;
    background-color: white;
    left: 0;
}

.img {
    position: relative;
    padding: 0;
    margin: 0;
    height: auto;
    width: 100%;
    left: 0;
}
