@page "/"

<PageTitle>Prodigo Portal - Välkommen</PageTitle>

<div class="welcome-container container-fluid">
    <div class="row h-100">
        <img class="col-6 p-0" src="./images/entre.png"  alt="Entrédörr till Prodigo">
        <div class="col-6 p-0 content d-flex flex-column">
            <h1>Välkommen till Prodigo portal! </h1>
            <a href="https://prodigo.se/kontakt/" target="_blank">
                <button class="btn btn-primary">
                    Registrera dig här!
                </button>
            </a>
        </div>
    </div>
</div>
