@page "/"

<div class="container">
    <img class="welcomeImage" src="https://prodigo.se/wp-content/uploads/2021/06/iStock-951514270.jpg">
    <div class="text-block">
        <h1>Välkommen till Prodigo portal! </h1>
        <a href="https://prodigo.se/kontakt/" target="_blank">
            <button class="btn btn-primary" style="top:50px;position:relative;width: 200px;height: 50px;">
                Registrera dig här!
            </button>
        </a>
    </div>

</div>

@code {
}
