@page "/"

<PageTitle>Prodigo Portal - Välkommen</PageTitle>

<div class="welcome-container container-fluid">
    <div class="row h-100">
        <img class="col-6 p-0" src="./images/entre.png"  alt="Entrédörr till Prodigo">
        <div class="col-6 p-0 content d-flex flex-column">
            <h1>Välkommen in! </h1>
            <Login Width="25rem"
                   Height="6.25rem"
                   FontSize="2.3rem"/>
            <h5 class="mt-2">för Prodigo-medlemmar.</h5>
            <p>
                Vill du bli medlem? <a href="https://prodigo.se/kontakt/ ">Kontakta oss här!</a>
            </p>
        </div>
    </div>
</div>
