@page "/"

<PageTitle>Prodigo Portal - Välkommen</PageTitle>

<div class="welcome-container d-flex flex-column">
    <h1>Välkommen till Prodigo portal! </h1>
        <a href="https://prodigo.se/kontakt/" target="_blank">
            <button class="btn btn-primary">
                Registrera dig här!
            </button>
        </a>
</div>
