.welcome-container {
    padding: 0;
    margin-left: 0;
    margin-right: 0;
    width: 100%;
    height: calc(100vh - 3.75rem);
    background-size: cover;
    align-items: center;
}

/* Necessary because otherwise it's too wide and horizontally scrolls. */
.container-fluid .row {
    margin-left: 0;
    margin-right: 0;
}

.welcome-container img {
    height: 100%;
    object-fit: cover;
}

.welcome-container .content {
    align-items: center;
    background-color: var(--prodigo-light-blue);
    height: 100%;
}

.welcome-container h1 {
    color: var(--prodigo-dark-blue);
    font-size: 4rem;
    text-align: center;
    margin-top: 20vh;
}

.login-button {
    margin-top: 2rem;
    width: 25rem;
    height: 6.25rem;
    font-size: 2.3rem;
}
