@using Domain.Contracts

<div class="modal" id="@("id_" + Contract?.Id)">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <img id="contract-thumbnail" src="@Contract?.ImagePath" class="img-thumbnail img-fluid"/>
            <h1>@Contract?.Name</h1>
        </div>
      </div>
</div>

@code {
    /// <summary>
    /// The contract to render details of.
    /// </summary>
    [Parameter, EditorRequired,]
    public Contract? Contract { get; set; }
}
